# Unity project specific
Project Shadow/[Ll]ibrary/
Project Shadow/[Tt]emp/
Project Shadow/[Oo]bj/
Project Shadow/[Bb]uild/
Project Shadow/[Bb]uilds/
Project Shadow/[Ll]ogs/
Project Shadow/[Uu]ser[Ss]ettings/

# MemoryCaptures
Project Shadow/[Mm]emoryCaptures/

# Recordings
Project Shadow/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# Project Shadow/[Aa]ssets/AssetStoreTools*

# Jetbrains Rider plugin
Project Shadow/[Aa]ssets/Plugins/Editor/JetBrains*

# Keep these as is since they're general patterns
.vs/
.gradle/

# For the specific files, add the project path
Project Shadow/**/*.csproj
Project Shadow/**/*.unityproj
Project Shadow/**/*.sln
Project Shadow/**/*.suo
Project Shadow/**/*.tmp
Project Shadow/**/*.user
Project Shadow/**/*.userprefs
Project Shadow/**/*.pidb
Project Shadow/**/*.booproj
Project Shadow/**/*.svd
Project Shadow/**/*.pdb
Project Shadow/**/*.mdb
Project Shadow/**/*.opendb
Project Shadow/**/*.VC.db

Project Shadow/**/*.pidb.meta
Project Shadow/**/*.pdb.meta
Project Shadow/**/*.mdb.meta

Project Shadow/sysinfo.txt

Project Shadow/**/*.apk
Project Shadow/**/*.aab
Project Shadow/**/*.unitypackage
Project Shadow/**/*.app

Project Shadow/crashlytics-build.properties

Project Shadow/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

Project Shadow/[Aa]ssets/[Ss]treamingAssets/aa.meta
Project Shadow/[Aa]ssets/[Ss]treamingAssets/aa/*


usefulressources.txt
